@font-face {
  font-family: "Nb";
  src: url("https://cdn.prod.website-files.com/66f305cd71d2728b6bf6355e/6ab1670e90751d42632f460a_NB.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
